<div class="collapse inline navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            
            
        <li class="g">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="g">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                About_us
            </a>
        </li>
        <li class="nav-item dropdown">
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                Services
            </a>-->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="?sort=price&direction=asc" class="dropdown-item">Flu Vaccination</a>
                <a href="?sort=rating&direction=desc" class="dropdown-item ">Morning After Pill</a>
                <a href="?sort=category&direction=asc" class="dropdown-item ">Ear, Throat advice</a>
                <a href="" class="dropdown-item">urinary tract infection Advice</a>
            </div>
        </li>
        <li class="g">
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                Appointments
            </a>--->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appointments
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="?" class="dropdown-item">Beacons Phamrmacy</a>
                <a href="?" class="dropdown-item ">Dowlais Phamrmacy</a>
                <a href="?" class="dropdown-item ">Georgetown Pharmacy</a>
                <a href="?" class="dropdown-item ">Keir Hardie Pharmacy</a>
                <a href="?" class="dropdown-item ">Lewis Pharmacy</a>
                <!--<a href="" class="dropdown-item">urinary tract infection Advice</a>--->
            </div>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                News
            </a>
        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                FAQ's
            </a>
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Faq
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="?category=clothing,sportswear" class="dropdown-item">Clothing &amp; Sportswear</a>
                <a href="?category=gifts" class="dropdown-item">Gifts</a>
                <a href="?category=art" class="dropdown-item">Art</a>
                <a href="?category=clothing,sportswear,gifts,art,donation" class="dropdown-item">All </a>
            </div>-->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                Contact
            </a>
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="donation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="?category=donation" class="dropdown-item">Donations</a>
            </div>-->
        </li>

        <li>
            <a class="text-black nav-link " href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="">
                    <!--<div><i class="fas fa-user fa-lg"></i></div>-->
                    <p class="my-0">MY ACCOUNT</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="" class="dropdown-item">Register</a>
                    <a href="" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <!--<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href=?category=deals" class="dropdown-item">Deals</a>
                <a href="?category=clearance" class="dropdown-item">Clearance</a>
                <a href="?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>-->
    </ul>
</div>